.event_container{
    margin-top: 100px;
}

.eventCard{
    width: 50%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 75px;
}

.eventBanner{
    height: 300px;
    opacity: 0.15;
    object-fit: cover;
}

.title{
    font-size: 1.75rem;
    cursor: pointer;
}
.title:hover{
    color: rgb(60, 60, 227);
}

.overlay{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}




