.postCard{
    /* width: 50%; */
    /* margin-left: 15%; */
    /* margin-right: 15%; */
    margin: 0 auto;
    margin-bottom: 7.5%;
    margin-top: 7.5%;
}

.postBanner{
    /* display: none; */
    height: 300px;
    object-fit: cover;
}

.buttonContainer {
    width: 50%;
}

.postHeader{
    padding: 1%;
}

.postDescription{
    padding: 1%;
}

.textAreaContainer{
    width: 100%;
    background-color: rgb(53, 52, 52);
    border-radius: 10px;
}


.postCommentArea{
    padding: 1%;
}
.getCommentArea{
    padding: 1%;
}

.textBoxContainer{
    width: 100%;
    max-width: 100%;
    background-color: rgb(53, 52, 52); 
    border-radius: 10px;
    overflow: hidden;
}

.textNameContainer{
    width: 100%;
    padding-left: 1.5%; 
    padding-bottom: 1.5%;
    font-weight: bold;
}

.textContainer{
    width: 100%;
    height: auto;
    max-height: 150px;
    padding: 3%; 
    scrollbar-width: none;
    overflow: hidden;
    overflow-y: scroll;
    
}
.textContainer::-webkit-scrollbar {
    display: none;
}
.postArea{
    padding: 10px;
}

.textButtonArea{
    width: 100%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    justify-content : flex-end;
    
}

.textButtonContainer{
    width: 25%;
}

.postButtonArea{
    padding-top: 1%;
    padding-right: 1%;
    padding-left: 1%;
}

