.quizCard{
    width: 50%;
    /* margin-left: 15%; */
    /* margin-right: 15%; */
    margin: 0 auto;
    margin-bottom: 7.5%;
    margin-top: 7.5%;
}

.quizQuestion{
    font-size: 1.2rem;
    padding: 1%;
    background-color: rgb(53, 52, 52);
    color: rgb(4, 175, 175);
    border-radius: 0.7%;
} 

.quizOptionsContainer{
    padding: 1%;
    background-color: white;
    color: rgb(53, 52, 52);
    border-radius: 0.7%;
}



